# AWS
AWS_REGION=ap-southeast-1
AWS_ACCOUNT_ID=

# LLM
OPENAI_API_KEY=
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

# Environment
ENVIRONMENT=dev
